<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <!-- <p>{{ site.description }}</p> -->
        <p>
          Based on the <a href="http://www.cis.upenn.edu/~cis194/spring13/">CIS 194:
          Introduction to Haskell (Spring 2013)</a> single-semester course taught at the
          University of Pennsylvania by <a href="https://byorgey.wordpress.com/">Brent
          Yorgey</a>.
        </p>
      </div>
    </div>

  </div>

</footer>
